body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	overflow-x: hidden;
}

p {
  font-size: 1.5rem;
}


#logo {
  /*display: inline-block;*/
  margin-left: -0.86em;
  margin-top: -0.76em;
  width: 170px;
  height: 48px;
}
#logo:hover {
	opacity: 0.7;
}
.see {
	position: relative;
}
.see a {
	text-decoration: none;
	color: inherit;
}
#my-name {
  display: inline-block;
	margin-left: 2rem;
  vertical-align: top;
	margin-top: 19px;
	font-size: 2rem;
  letter-spacing: 0.2rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#my-name a {
	color: rgb(0,0,0);
	text-decoration: none;
}
#my-name a:hover {
  color: #7CFC00;
}

#links {
  position: absolute;
  top: 0;
  right: 5rem;
}


#links a {
  color: rgb(0,0,0);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2rem;
	letter-spacing: 1.9px;
}
#links a:hover {
  color: #7CFC00;
}

#main-page {
	z-index: 3;
	letter-spacing: 1.9px;
}
#portfolio-title {
	text-align: center;
}


.titles {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
}

.language {
	margin-left: 2em;
	margin-top: 2em;
}

#bottom-row {
	width: 100%;
	height: 55em;
	background: black;
	color: yellow;
	z-index: 20;
}
.bottom {
	margin-top: 5em;
}
#me-small {
	width: 22em;
	height: 25em;
}

#social-bar {
  display: none;
	position: fixed;
	top: 25%;
	left: 0;
	padding-bottom: 0.2rem;
}
#social-close {
  margin-left: 3em;
  margin-bottom: -10px;
  padding: 0 5px;
  border-radius: 25%;
  background: black;
  color: white;
}
#social-close:hover {
  cursor: pointer;
  background-color: #ff0066;
}
#hit-me {
  display: block;
  position: fixed;
	top: 12%;
  width: 1.5em;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2rem;
  padding-left: 0.8em;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%
	left: 0;
	padding-bottom: 1rem;
  padding-top: 1rem;

  background: #0E5F84;
}
#hit-me p {
  margin: -0.5rem;
  padding-bottom: 0;
}
#hit-me:hover {
  cursor: pointer;
  background: #ff0066;
}

.social {
	width: 2.5em;
	height: 2.5em;
	margin-bottom:-0.8em;
    margin-top: 0;
}

.social:hover {
	width: 2.8em;
	height: 2.8em;
	vertical-align: baseline;
}
.social a[data-toggle="tooltip"] {
    display: inline;
    background: black;
    padding: 0.3rem;
    margin-left: 0.5rem;
    color: white;
}
.social:active {
	-moz-box-shadow: 10px 10px 5px #00bcd4;
	-webkit-box-shadow: 10px 10px 5px #00bcd4;
	box-shadow: 10px 10px 5px #00bcd4;
}
#tech-title {
    font-size: 4rem;
}

.tech-list {
    position: relative;
}
.tech-header {
    margin-bottom: 2em;
}
.tech-item {
    height: 4.5em;
    vertical-align: bottom;
}
.tech-item img {
    position: absolute;
    vertical-align: top;
    left: 2em;
    height: 3em;
}
.tech-item h4 {
  font-size: 2.3rem;
  text-align: left;
  margin-left: 3em;
}
#mustache {
    width: 4.5em;
}
#ruby {
    height: 2.5em;
}
#postgres {
    height: 4em;
}
#redux {
    height: 2em;
    width: 4em;
}
#php {
    height: 2.5em;
}
#sender-name,
#sender-email,
#message {
	width: 100%;
	color: gray;
}
#contact {
  background: #f2f2f2;
}

#me {
    margin: auto;
    width: 16em;
    height: 18em;
    border-radius: 50%;
}

.bio {
    color: #217272;
}
